{% extends 'base.html' %} {% block head %} {% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
{% endblock head %} {% block content %}

<div class="parallax">
</div>

<div class="container">
    <div class="bg-light">
        <section id="menu">
            <div class="row">
                <h3>MENU:</h3>
                <div class="mb-4 col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'img/download (1).jpg' %}">
                        <div class="card-body">
                            <h4 class="card-title">Cappachino</h4>
                            <p class="card-text"></p>
                            <a href="#" class="btn btn-secondary ">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="about">
            <h3 class="mb-4 mt-4">About us</h3>
            <div class="row mt-2 mb-4">
                <div class="col-md-5">
                    <div class="imgAbt">
                        <img width="100%" src="{% static 'img/download (5).jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                    <p>
                        We are baristas passionate about speciality coffee. <br> We are commited to bringing high
                        quality coffee, that supports everyone from the farmer to the environment, straight to your
                        door. <br> All our products are responibly sourced
                        and are supporting the producers and the farmers.
                    </p>
                </div>
            </div>
        </section>
        <section id="signup">
            <h3>Create your regular</h3>
            <p>Help us make ordering coffee easier by making your unique cup of coffee that you can order without having
                to customize your order.</p>
            <p>Sign up now to create your regular so you can start getting your coffee with 1 click.</p>
            <form action="">
                <h4>Sign Up Form</h4>
            </form>
        </section>
    </div>
</div>
{% endblock content %}